export(find_first_occurrence)
export(subset_by_range)
export(find_sample_assignments)
export(find_treatment_averages)
export(find_well_averages)
export(get_treatment_list)
export(find_electrode_averages)
export(spikes_count_treatment_average)
export(mean_firing_rate_treatment_average)
export(combined_metrics_plot)
export(treatment_averages_plot)
